@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap");

/* @font-face {
    font-family: 'Karla';
    src: url(Karla.ttf);
} */

body {
    background: #1C1C1C;
    color: white;
    font-family: 'Karla';
}

.background {
    background: #1F2937;
    width: 550px;
    height: 550px;
    margin: 62px;
    padding: 1px;
}

.container {
    margin: 115px 52px;
}

h2 {
    width: 354px;
    height: 80px;
    margin: 0;

    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;      /* or 100% */
    letter-spacing: -0.025em;
}

h3 {
    /* Supporting text */
    width: 372px;
    height: 28px;
    margin: 0;
    margin-top: 10px;

    /* text-xl/leading-7/font-normal */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height, or 140% */


    /* Medium grey */
    color: #D5D4D8;
}

.btnchk {
    margin-top: 50px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    accent-color: #10B981;
}

button {
    box-sizing: border-box;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: inherit;
    font: inherit;
    font-size: 16px;
    width: 191px;
    height: 100%;
    background: #10B981;
    border-radius: 6px;
}

button:active {
border: 1px solid white;
}

label {
    font-size: 12px;
}

.divider {
    width: 100%;
    height: 0px;
    border: 1px solid #2F3E53;
    margin: 35px 0;
}

.passwords{
    display: flex;
    justify-content: space-between;
}

.passwords span {
    width: 211px;
    height: 39px;
    background: #273549;
    border-radius: 6px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 39px;
    text-align: center;
    color: #55F991;
}

